<!DOCTYPE html>
<html ng-app="ibus">
<head>
    <meta charset="utf-8">
    <title>iBus</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="lib/fontawesome-5.8.1/fontawesome-5.8.1.css"> -->
    <link rel="stylesheet" href="lib/uikit-3.0.3/css/uikit.css">
    <link rel="stylesheet" href="lib/noty/noty.css">
    <link rel="stylesheet" href="lib/noty/nest.css">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body ng-controller="ibusController">

    <div class="uk-container">
        <br>
        <div class="uk-margin uk-text-right">
            <form class="uk-search uk-search-default">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" type="search" ng-model="searchClientes" placeholder="Search...">
            </form>
        </div>
        <table ng-show="clientes.length > 0" class="uk-table uk-table-small uk-table-divider">
            <thead>
                <th class="uk-table-shrink"></th>
                <!-- <th>#</th> -->
                <th>status</th>
                <th>nome</th>
                <th>rg</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in clientes | filter:searchClientes">
                    <td><input class="uk-checkbox" type="checkbox"></td>
                    <!-- <th>{{cliente.id_cliente}}</th> -->
                    <td>
                        <span class="uk-label uk-label-{{cliente.status === 'A' ? 'success' : 'danger'}}">{{cliente.status === 'A' ? 'ATIVO' : 'INATIVO'}}</span>
                    </td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.rg}}</td>
                    <td>
                        <div id="cliente{{cliente.id_cliente}}" uk-modal>
                            <div class="uk-modal-dialog">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-modal-header">
                                    <h2 class="uk-modal-title">DETALHES</h2>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto>
                                    <!-- <dl class="uk-description-list uk-description-list-divider">
                                        <dt>NOME</dt>
                                        <dd>{{cliente.nome}}</dd>
                                        <dt>RG</dt>
                                        <dd>{{cliente.rg}}</dd>
                                        <dt>CELULAR</dt>
                                        <dd>{{cliente.celular}}</dd>
                                    </dl> -->
                                    <!-- <div class="uk-child-width-expand@s" uk-grid>
                                        <div class="uk-grid-item-match">
                                            <div class="uk-card uk-card-default uk-card-body">
                                                <i class="far fa-user fa-5x"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h3>{{cliente.nome}}</h3>
                                            <p>RG: {{cliente.rg}}</p>
                                            <p>CELULAR: {{cliente.celular}}</p>
                                            <p>TELEFONE: {{cliente.telefone}}</p>
                                        </div>
                                    </div> -->
                                    <h3>{{cliente.nome}}</h3>
                                    <p>RG: {{cliente.rg}}</p>
                                    <p>CELULAR: {{cliente.celular}}</p>
                                    <p>TELEFONE: {{cliente.telefone}}</p>
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-danger uk-modal-close" type="button">FECHAR</button>
                                </div>
                            </div>
                        </div>
                        <a href="#cliente{{cliente.id_cliente}}" uk-toggle class="uk-button uk-button-primary uk-button-small">Detalhes</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="uk-container">
            <div class="uk-container">
                <form id="formCliente" name="formCliente" class="uk-grid" uk-grid>
                    <!-- <div class=""> -->
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <input ng-model="cliente.status" class="uk-input" type="hidden">
                                <input ng-required="true" ng-model="cliente.nome" class="uk-input" type="text" placeholder="NOME">
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <input maxlength="9" minlength="9" ng-maxlength="9" ng-minlength="9" ng-required="true" ng-model="cliente.rg" class="uk-input" type="text" placeholder="RG">
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <input ng-required="true" ng-model="cliente.celular" class="uk-input mask_celular" type="text" placeholder="CELULAR">
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <input ng-required="true" ng-model="cliente.telefone" class="uk-input mask_telefone" type="text" placeholder="TELEFONE">
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <input ng-required="true" ng-model="cliente.endereco" class="uk-input" type="text" placeholder="ENDEREÇO">
                            </div>
                        </div>
                        <div class="uk-width-1-4@s">
                            <div class="uk-margin">
                                <input ng-required="true" ng-model="cliente.numero_endereco" class="uk-input" type="text" placeholder="N°">
                            </div>
                        </div>
                        <div class="uk-width-1-1">
                            <div class="uk-margin">
                                <button ng-click="addCliente(cliente);" ng-disabled="formCliente.$invalid" type="button" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Cadastrar</button>
                            </div>
                        </div>
                    <!-- </div> -->
                </form>
            </div>
            <div ng-view="">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <script src="lib/uikit-3.0.3/js/uikit.js"></script>
    <script src="lib/uikit-3.0.3/js/uikit.min.js"></script>
    <script src="lib/uikit-3.0.3/js/uikit-icons.js"></script>
    <script src="lib/noty/noty.js"></script>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
    <!-- <script src="lib/angular-1.7.8/angular.js"></script>      -->
    <!-- <script src="lib/angular-1.7.8/angular-route.js"></script>      -->
<!--     <script src="lib/google-maps-api/google-maps-api.js"></script>      -->
    <script src="lib/jquery-3.3.1/jquery.js"></script>     
    <script src="lib/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>     
    <!-- <script src="lib/axios-master/dist/axios.js"></script>       -->
    <script src="js/angular.js"></script>   
    <script src="js/noty.js"></script>  
    <script src="js/mapa.js"></script>   
    <script src="js/mask.js"></script>   
</body>
</html>
